{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
      <h1>About This Project</h1>
  </div>
<div>
    <p> Prof. Ribeiro wanted to build a tool that Minerva instructors could use to visualize and have better insight into each student's performance and therefore be able to give students more personalized feedback. I joined in the project in summer 2020 to build on Prof. Ribeiro's R script and add more functionalities to it. This website is a web application version of the R script we have.</p>
</div>
</div>
    <nav class="navbar navbar-default navbar-static-bottom navbar-inverse">
    <div>
        <p>fsdfs</p>
        </div>
    </nav>

{% endblock %}
