{% extends "base.html" %}
{% load static %}

{% block content %}


<!--
<div>
    <a href="/view_teapot">To teapot </a>
</div>
-->
<div class="jumbotron text-center">
  <div class="container">
<!--
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
-->
    <h1>Grades Visualization Tool for Minerva's Instructor</h1>
    <p>Upload grade data in .csv format downloaded from Minerva's Forum and get reports on each students's performance and class statistics, including class CO performance, LO performance, and how each LO affects students' grades.</p>
      
    <div class="tabdemo">
           <button class="tablinksdemo active" onclick="demotabs(event, 'use_tool')">Use Tool</button>
           <button class="tablinksdemo" onclick="demotabs(event, 'demo')">Demo</button>
           
    </div>
      <script language = "Javascript">
           function demotabs(evt, cityName) {
              // Declare all variables
              var i, tabcontent, tablinks;

              // Get all elements with class="tabcontent" and hide them
              tabcontent = document.getElementsByClassName("tabcontentdemo");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }

              // Get all elements with class="tablinks" and remove the class "active"
              tablinks = document.getElementsByClassName("tablinksdemo");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }

              // Show the current tab, and add an "active" class to the button that opened the tab
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }
        </script>
    <div id="demo" class="tabcontentdemo"  style="background-color:white;color:black;display:none">
     
      {% include 'demo.html' %}
    </div>
    <div id="use_tool" class="tabcontentdemo"  style="background-color:#e6e6ff;color:black">
        <form acion="/chart/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                    
                <label for="{{ field.label }}">{{ field.label_tag }}
                    
                {% if field.field.required %}<span class="special_class"></span>{% endif %}</label>
                    <br>
                {{ field }}
                        
                </div>
            {% endfor %}
            
            
<!--            {{ form.as_p }}-->
            <div class="submit-button">
                <button style="text-align:center;margin: 0 auto;" type="submit">Submit</button>
            </div>
        </form>
        <hr>
        <div class="sample_input"> 
            <h2>Sample Inputs</h2>
            <p>The inputs below to the form will reproduce the example shown in the Demo</p>
            
            <p><b>Upload file</b><p>
            <p>The file is .csv data file downloaded from Forum and is assumed to follow specific schema. Click <a href="/media/synthetic_data.csv">here</a> to download a sample .csv file.</p>
            
            <p><b>LO List</b></p>
            <p>The data file downloaded from Forum does not have the CO column. Therefore, instructor must specify this manually by matching LO to CO. In this field, input the LOs <em>separated by comma</em>, and in the CO list field below, input the COs corresponding to this LO list.</p>
            <p>Sample input: <span style="background-color: Gainsboro"><i>mcanalysis, mcmodeling, interpretresults, professionalism, pythonimplementation, caanalysis, camodeling, networkanalysis,networkmodeling</i></span></p>
            
            <p><b>CO list</b></p>
            <p>Sample input: <span style="background-color: Gainsboro"><i>MonteCarlo,MonteCarlo,Simulations,Simulations,Simulations,Cellular Automata,Cellular Automata,Networks,Networks</i></span></p>
            
            <p><b>Assignment titles</b></p>
            <p>The data file also does not have the weights for the assignment and those need to be specified here. List the assignment titles in order in this field and its weights in the following field, all seperated by comma</p>
            <p>Sample input: <span style="background-color: Gainsboro"><i>Elevator simulation, Traffic simulation,Network simulation,   Final project proposal,  Final project</i></span></p>
            
            <p><b>Assignment weights</b></p>
            <p>Sample input: <span style="background-color: Gainsboro"><i>2, 6, 6, 0, 10</i></span></p>
            
            <p><b>LOs to highlight in LO evolution graph</b></p>
            <p>These are the LOs of interest to highlight (selected) in the evolution graph (see the Evolution tab in the Demo). If no LOs specified, all LOs will be plotted, which may cause clutter.</p>
            <p>Sample input: <span style="background-color: Gainsboro"><i>networkanalysis, networkmodeling</i></span></p>
            
            
        </div>
    </div>
<!--    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a>-->
<!--    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>-->
  </div>
</div>


{% endblock %}
