<html>
   <head>
      <title>Highcharts Tutorial</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
      <script src = "https://code.highcharts.com/highcharts.js"></script>  
         {% load static %}
       <link rel="stylesheet" type="text/css" href="{% static 'style-chart.css' %}">
   </head>
   
   <body>
       <div class="reduce">
           <ul>
           {% for student in data %}
               <li>
      <div class = "GridMap" id = "container{{ student.student_name }}" ></div>
      <script language = "JavaScript">
         $(document).ready(function() {  
            var chart = {
               type: 'line',
                height: 600
            }; 
            var title = {
               text: 'Evolution of Average LO Score'   
            };
            var subtitle = {
               text: 'for {{ student.student_name }}'
            };
            var xAxis = {
               type: 'datetime',
//               dateTimeLabelFormats: { // don't display the dummy year
//                  month: '%e. %b',
//                  year: '%b'
//               },
               title: {
                  text: 'Date'
               }
            };
            var yAxis = {
               min: 0,
                max:5
            };
            var tooltip = {
               headerFormat: '<b>{series.name}</b><br>',
               pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            };
            var plotOptions = {
               spline: {
                  marker: {
                     enabled: true
                  }
               }
            };
             var series = {{ student.series|safe }};

            
            var json = {};
            json.chart = chart;
            json.title = title;
            json.subtitle = subtitle;
            json.tooltip = tooltip;
            json.xAxis = xAxis;
            json.yAxis = yAxis;  
            json.series = series;
            json.plotOptions = plotOptions;
            $('#container{{ student.student_name }}').highcharts(json);
         });
      </script>
               </li>
           {% endfor %}
           </ul>
       </div>
   </body>
   
</html>