div{
  margin: auto;
    width: 100%;
/*     transition: 1s;*/
}

ul {
  text-align: center;
  margin-right: 9%;
/*    transition: width 2s;*/
}

.reduce>ul>li {
  display: inline-block;
  width: 45%;
/*     transition: 2s;*/
}

@media screen and (max-width: 1000px) {
  .reduce>ul>li {
    width: 100% !important;
  }
}

.gridMap {
  float: left;
  border: 0px solid;
  height: 600px;
  width: 100%;
  margin: 1px;
    

}

@media screen and (max-width: 1000px) {
  .gridMap {
    width: 100% !important;
     
  }
}

/*
.reduce {
  width: 100%;
  height: 800px;
  border: 0;
  transform: scale(0.75);
  transform-origin: 0 0;
}
*/

/*
h1 {
  text-align: center;
}
*/
/*

p {
  text-align: center;
}
*/

/*
.reduce {
  width: 100%;
  height: 50px;
  border: 0;
  transform: scale(0.75);
  transform-origin: 0 2;
}
*/
